* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    color: #717171;
}

html {
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
}

body {
	
}

h1, h2, h3, h4, h5, h6 {
	color: #73533c;
}

h3 {
	padding-top: 8px;
	padding-bottom: 8px;
	color: #4c4c4c;
	font-size: 18px;
}

p {
	padding-bottom: 8px;
}

a {
	color: #727272;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	color: orange;
}

ul {
	list-style: none;
}

input {
	padding: 8px 12px;
	color: #d7d7d7;
	border-radius: 15px;
	border: 1px solid #d7d7d7;
}

figure {
	margin: 0;
}

figure img {
	background: #cccccc;
}

figure figcaption {
	color: #969696;
}

/* ======================================
 * General
 * ====================================== */

.shawling-fawn {
	color: #73533c;
}

.selective-yellow {
	color: #ffbb00;
}

.clear {
	clear: both;
}

.row {
	margin-left: -15px;
	margin-right: -15px;
}

.col-1, .col-2, .col-3, .col-4,
.col-5, .col-6, .col-7, .col-8,
.col-9, .col-10, .col-11, .col-12 {
	float: left;
	position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-1 { width: 8.33333333%; }
.col-2 { width: 16.66666667%; }
.col-3 { width: 25%; }
.col-4 { width: 33.33333333%; }
.col-5 { width: 0; }
.col-6 { width: 50%; }
.col-7 { width: 0; }
.col-8 { width: 66.66666667%; }
.col-9 { width: 75%; }
.col-10 { width: 0; }
.col-11 { width: 0; }
.col-12 { width: 100%; }

.container {
	width: 1170px;
	padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* ======================================
 * Page
 * ====================================== */

.main-header {
	height: 120px;
	border-bottom: 1px solid #e1e4d9;
}

.main-menu {
/* 	height: 45px; */
}

.shopping-cart {
	float: right;
}

.main-menu .search {
    float: right;
}

.slider {
	height: 550px;
	background: #f3f4ef;
	border-bottom: 3px solid #ffbb00;
}

.slider h1 {
	font-size: 48px;
}

.slider h2 {
	font-size: 32px;
}

.slider p {
	font-size: 20px;
}

.slider p + p{
	font-size: 18px;
}

.main-footer {
	clear: both;
}

.main-footer .newsletter-subscription {
	height: 170px;
	background: #eeeeee;
}

.footer-links {
	overflow: hidden;
}

.footer-links h3 {
	border-bottom: 1px solid #e1e4d9;
}

.footer-copyright {
	border-top: 1px solid #e1e4d9;
}

/* ======================================
 * Lists
 * ====================================== */
ul.navbar,
ul.navbar li a,
.navbar-line {
	height: 45px;
}

.navbar-line {
	border-bottom: 3px solid #e1e4d9;
}

ul.navbar {
	font-size: 0;
	float: left;
}

ul.navbar li {
	font-size: 14px;
	display: inline-block;
}

ul.navbar li a {
	display: inline-block;
	line-height: 45px;
	width: 100%;
	padding-left: 12px;
	padding-right: 12px;
	border-bottom: 3px solid #e1e4d9;
	position: relative;
	color: #4c4c4c;
	font-size: 16px;
	text-transform: uppercase;
}

ul.navbar li a:hover {
	color: #fd6400;
}

ul.navbar li.active a::before,
ul.navbar li.active a::after {
	content: '';
	background: #ffffff;
	display: inline-block;
	width: 10px;
	height: 5px;
	position: absolute;
	left: 50%;
	bottom: -4px;
	margin-left: -5px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	z-index: 1001;
}

ul.navbar li.active a::after {
	background: #e1e4d9;
	bottom: -7px;
	z-index: 1000;
}

ul.list-slash li + li:before {
    content: '/';
    color: #d5d5d5;
}

ul.list-slash li {
	float: left;
}

ul.list-slash a {
    margin: 5px 10px;
    display: inline-block;
}

ul.list-arrow li:before {
	content: '>';
	color: #d5d5d5;
}

ul.list-arrow li a {
	margin: 8px 12px;
	display: inline-block;
}

ul.list-pipeline li + li:before {
	content: '|';
	color: #d5d5d5;
}

ul.list-pipeline li {
	float: left;
}

ul.list-pipeline li a {
	margin: 5px 10px;
	display: inline-block;
}

ul.navbar-center {
	text-align: center;
	float: none;
}

ul.navbar-right {
	float: right;
}

/* ======================================
 * Product
 * ====================================== */
.product {
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
}

.product .price {
	font-weight: bold;
	color: #73533c;
	font-size: 18px;
}

/**
Content block: 970w * n
Header  165h
nav 105(plus border 106)
photo 550 + 5px border


product block
header (navigation) 90px
225px * 375px per item


newsletter subscription block
170px height


	> 1024
	> 768
	> 480




Raleway
https://fonts.google.com/specimen/Raleway 
*/